<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portal Unand</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel ="stylesheet" type="text/css" href="admin.css">
    <link rel ="stylesheet" type="text/css" href="fontawesome-free-6.1.1-web/css/all.min.css">

    <style>
      a1{
        margin-left: 30%;
        margin-top: 3%;
      }
      a2{
        margin-left: 20%;
      }
      a3{
        margin-left: 12%;
      }
      a4{
        margin-left: 17%;
      }

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> WELCOME ADMIN | <b>UNIVERSITAS ANDALAS</b></a>
          <form class="d-flex" role="search">
            <input class="form-control me-2 colo" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" style="width: 100%;" type="submit">Cari Mata Kuliah</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="row no-gutters mt-5">
      <div class="col-md-2 pr-3 pt-4" style="background-color: #458D73;">
        <ul class="nav flex-column ml-3 mb-5">
          <li class="nav-item ml-2" style="margin-top: 5%;">
              <img src="/assets/person-circle-outline.png" class="img-thumbnail" alt="..." style="margin-left: 100px; border-radius: 100%;" width="100">
          </li>
          <li class="nav-item ml-5 pl-4 mt-2 mb-3">

            <a1 class="nav-link active text-white pl-3 mr3" aria-current="page" href="#"><i class="fa-solid fa-gauge me-3 "></i>Admin</a>
          </li>
          <li class="nav-item">
            <a2 class="nav-link text-white" href="#"><i class="fa-solid fa-boxes-packing me-3"></i>Cek Laporan RPS</a>
          </li>
          <li class="nav-item">
            <a3 class="nav-link text-white" href="#"><i class="fa-solid fa-boxes-packing me-3"></i>Atur Dosen Pengampu</a>
          </li>
          <li class="nav-item">
            <a4 class="nav-link text-white" href="#"><i class="fa-solid fa-boxes-packing me-3"></i>Lihat Laporan RPS</a>
          </li>
          <a href="" class="btn btn-primary" style="background-color: #62BA85; width:105%; margin-top: 100%; padding-top: 3%; padding-bottom: 3%;
          font-style: normal; font-weight: 700;">Logout</a>
        </ul>
      </div>
      <div class="col-md-10 p-5 pt-6" style="background-color: #014546;" >
        <h3><a class="text-white">RPS - Atur Dosen Pengampu </a > </h3><hr>
          <a href="" class="btn btn-primary" style="background-color: #266061; border-color: #266061; margin-bottom: 1%; padding-left: 2%; padding-right: 2%;">Pilih Semester</a>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-white" scope="col">No</th>
              <th class="text-white" scope="col">Daftar Mata Kuliah</th>
              <th class="text-white">Dosen</th>
              <th class="text-white">Aksi</th>
            </tr>
          </thead>
          <tbody class="text-white">
            <tr >
              <th class="text-white" scope="row">1</th>
              
              <td class="text-white">Mata Kuliah 1</td>
              <td class="text-white">Dosen1</td>
              <td>
                <a href="" class="btn btn-primary">Tambah</a>
                <a href="" class="btn btn-warning">Ubah</a>
                <a href="" class="btn btn-danger">Hapus</a>
              </td>
            </tr>
            <tr>
              <th scope="row" class="text-white">2</th>
              <td>Mata Kuliah 2</td>
              <td class="text-white">Dosen1, Dosen2</td>
              <td>
                <a href="" class="btn btn-primary">Tambah</a>
                <a href="" class="btn btn-warning">Ubah</a>
                <a href="" class="btn btn-danger">Hapus</a>
              </td>
            </tr>
            <tr>
              <th scope="row" class="text-white">3</th>
              <td class="text-white">Mata Kuliah 3</td>
              <td class="text-white">Dosen</td>
              <td>
                <a href="" class="btn btn-primary">Tambah</a>
                <a href="" class="btn btn-warning">Ubah</a>
                <a href="" class="btn btn-danger">Hapus</a>
              </td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Mata Kuliah 4</td>
              <td class="text-white">Dosen</td>
              <td>
                <a href="" class="btn btn-primary">Tambah</a>
                <a href="" class="btn btn-warning">Ubah</a>
                <a href="" class="btn btn-danger">Hapus</a>
              </td>
            </tr>
            <tr>
              <th class="text-white" scope="row">5</th>
              <td class="text-white">Mata Kuliah 5</td>
              <td class="text-white">Dosen</td>
              <td>
                <a href="" class="btn btn-primary">Tambah</a>
                <a href="" class="btn btn-warning">Ubah</a>
                <a href="" class="btn btn-danger">Hapus</a>
              </td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Mata Kuliah 6</td>
              <td class="text-white">Dosen</td>
              <td>
                <a href="" class="btn btn-primary">Tambah</a>
                <a href="" class="btn btn-warning">Ubah</a>
                <a href="" class="btn btn-danger">Hapus</a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../admin/admin.js"></script>
  </body>
</html>