<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Universitas Andalas</title>
  <!-- plugins:css -->
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="vendors/feather/feather.css" />
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css" />
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css" />
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css" />
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css" />
  <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css" />
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="style.css" />
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-1" href="index.html"><img src="logo-unand.png" class="mr-2"
            alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini mr-1" href="index.html"><img src="logo-mini.png" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown"></li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="default.png" alt="profile" />
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="user-profile">
          <div class="user-image">
            <img src="default.png">
          </div>
          <div class="user-designation">
            Login
          </div>
          <div class="user-name">
            <span>DOSEN</span>
          </div>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pengelolaan-rps.html">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Pengelolaan RPS</span>
              </a>
            </li>
          </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Mata Kuliah Yang di Ampu</h3>
                  <h6 class="font-weight-normal mb-0">List semua mata kuliah yang di ampu</h6>
                </div>
                <div class="col" style="position: relative; margin-bottom: 2%">
                  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                  </nav>
                </div>
              </div>
              <div id="layoutSidenav_content">
                <main>
                  </ol>

                  <div class="d-grid gap-2 d-md-flex">
                    <a class="btn btn-primary" href="tambahrps.html" role="button">+ Tambah RPS</a>
                  </div><br>
                  <!-- TAMBAHKAN KONTEN DISINI -->

                  <div class="card mb-4">
                    <div class="card-body">
                      <table>
                        <div class="row  align-items-center">
                          <div class="col-auto">

                            <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                              value="   Program Studi">
                          </div>
                          <div class="col-lg-7">
                            <input type="text" class="form-control" id="inputPassword2" value="Program Studi">
                          </div>
                        </div>

                        <div class="row  align-items-center">
                          <div class="col-auto">

                            <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                              value="   Kode">
                          </div>
                          <div class="col-lg-7">
                            <input type="text" class="form-control" id="inputPassword2" value="Kode">
                          </div>
                        </div>

                        <div class="row  align-items-center">
                          <div class="col-auto">

                            <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                              value="   Mata Kuliah">
                          </div>
                          <div class="col-lg-7">
                            <input type="text" class="form-control" id="inputPassword2" value="Mata Kuliah">
                          </div>
                        </div>

                        <div class="row  align-items-center">
                          <div class="col-auto">

                            <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                              value="   Semester">
                          </div>
                          <div class="col-lg-7">
                            <input type="text" class="form-control" id="inputPassword2" value="Semester">
                          </div>
                        </div>

                        <div class="row  align-items-center">
                          <div class="col-auto">

                            <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                              value="   Deskripsi Mata Kuliah">
                          </div>
                          <div class="col-lg-7">

                            <textarea class="form-control" id="exampleFormControlTextarea1"
                              rows="3">Deskripsi</textarea>
                          </div>
                        </div>

                        <div class="row  align-items-center">
                          <div class="col-auto">

                            <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                              value="   Pokok Bahasan">
                          </div>
                          <div class="col-lg-7">
                            <textarea class="form-control" id="exampleFormControlTextarea1"
                              rows="3">Pokok Bahasan</textarea>
                          </div>
                        </div>

                        <div class="row  align-items-center">
                          <div class="col-auto">

                            <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                              value="   Mata Kuliah syarat">
                          </div>
                          <div class="col-lg-7">
                            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                              <div class="input-group">
                                <input class="form-control" type="text" placeholder="Cari mata kuliah"
                                  aria-label="Cari mata kuliah" aria-describedby="btnNavbarSearch" />
                                <button class="btn btn-light" id="btnNavbarSearch" type="button"><i
                                    class="fas fa-search"></i></button>
                              </div>
                            </form>
                          </div>
                        </div>
                    </div>
                  </div>
                  </table>
              </div>
            </div>
          </div>














          <div class="card mb-4">
            <div class="card-body">
              <table>
                <div class="row  align-items-center">
                  <div class="col-auto">

                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                      value="   Dosen Pengembang">
                  </div>
                  <div class="col-lg-7">
                    <input type="text" class="form-control" id="inputPassword2" value="Dosen Pengembang">
                  </div>
                </div>

                <div class="row  align-items-center">
                  <div class="col-auto">

                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                      value="   Koordinator Rumpun MK">
                  </div>
                  <div class="col-lg-7">
                    <input type="text" class="form-control" id="inputPassword2" value="Koordinator Rumpun MK">
                  </div>
                </div>

                <div class="row g-3 align-items-center">
                  <div class="col-auto">

                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                      value="   Ka Program Studi">
                  </div>
                  <div class="col-lg-7">
                    <input type="text" class="form-control" id="inputPassword2" value="Ka Program Studi">
                  </div>
                </div>

                <div class="row g-3 align-items-center">
                  <div class="col-auto">

                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                      value="   Tgl Penyusunan">
                  </div>
                  <div class="col-lg-7">
                    <input type="text" class="form-control" id="inputPassword2" value="Tgl Penyusunan">
                  </div>
                </div>
              </form>
            </div>
          </div>
      </div>
    </div>
    </table>
</div>
</div>








<div class="card mb-4">
  <div class="card-body">
    <table>
      <div class="row g-3 align-items-center">
        <div class="col-auto">

          <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
            value="   Utama :">
        </div>
        <div class="col-lg-7">
          <textarea class="form-control" id="exampleFormControlTextarea1"
                          rows="3">Daftar Pustaka Utama</textarea>
        </div>
      </div>

      <div class="row g-3 align-items-center">
        <div class="col-auto">

          <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
            value="   Pendukung :">
        </div>
        <div class="col-lg-7">
          <textarea class="form-control" id="exampleFormControlTextarea1"
                            rows="3">Daftar Pustaka Pendukung</textarea>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>
</table>
</div>
</div>












<div class="card mb-3">
  <div class="card-body">
    <table>
      <div class="row  align-items-center">
        <div class="col-auto">

          <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                          value="   Perangkat Keras">
        </div>
        <div class="col-lg-7">
          <textarea class="form-control" id="exampleFormControlTextarea1"
                          rows="3">Perangkat Keras</textarea>
        </div>
      </div>

      <div class="row  align-items-center">
        <div class="col-auto">

          <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                            value="   Perangkat Lunak">
        </div>
        <div class="col-lg-7">
          <textarea class="form-control" id="exampleFormControlTextarea1"
                            rows="3">Perangkat Lunak</textarea>
        </div>
      </div>
      </div>
  </div>
</div>
</table>
</div>
</div>









<div class="card mb-3">
  <div class="card-body">
    <table>
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Project</label>
          </div>
        </div>
        <div class="col-lg-7">
          <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
              <input type="text" class="form-control" id="inputPassword2" value="20">
              <button class="btn btn-light" id="btnNavbarSearch" type="button"><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-percent" viewBox="0 0 16 16">
                  <path
                    d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                </svg></button>
            </div>
        </div>
        </form>
      </div>


      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Tugas</label>
          </div>
        </div>
        <div class="col-lg-7">
          <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
              <input type="text" class="form-control" id="inputPassword2" value="20"><button
                class="btn btn-light" id="btnNavbarSearch" type="button"><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-percent" viewBox="0 0 16 16">
                  <path
                    d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                </svg></button>
            </div>
        </div>
        </form>
      </div>

      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Quiz</label>
          </div>
        </div>
        <div class="col-lg-7">
          <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
              <input type="text" class="form-control" id="inputPassword2" value="20"> <button
                class="btn btn-light" id="btnNavbarSearch" type="button"><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-percent" viewBox="0 0 16 16">
                  <path
                    d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                </svg></button>
            </div>
        </div>
        </form>
      </div>

      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">UTS</label>
          </div>
        </div>
        <div class="col-lg-7">
          <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
              <input type="text" class="form-control" id="inputPassword2" value="20"> <button
                class="btn btn-light" id="btnNavbarSearch" type="button"><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-percent" viewBox="0 0 16 16">
                  <path
                    d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                </svg></button>
            </div>
        </div>
        </form>
      </div>

      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">UAS</label>
          </div>
        </div>
        <div class="col-lg-7">
          <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
              <input type="text" class="form-control" id="inputPassword2" value="20"> <button
                class="btn btn-light" id="btnNavbarSearch" type="button"><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-percent" viewBox="0 0 16 16">
                  <path
                    d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                </svg></button>
            </div>
        </div>
        </form>
      </div>
</table>
</div>
</div>



















                
      </main>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  
  <!-- partial -->
  </div>
  <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="js/dataTables.select.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/settings.js"></script>
  <script src="js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <script src="js/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <script src="js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
  <script src="js/datatables-simple-demo.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>