<<<<<<< HEAD

.nav-link:hover{
    background-color: grey;
=======
body {
  background-size: cover;
  min-height: 100vh;
  min-height: -webkit-fill-available;
>>>>>>> cfb2c5e13338d0ba9a1154e80d15cc22f192ec6f
}

html {
  height: -webkit-fill-available;
}

.btn-primary {
  background-color: #509c63;
  border-color: #4b8d5b;
}

<<<<<<< HEAD
body {
  background-size: cover;
  background-image: url("../assets/Dosen.png");
=======
.btn-primary:hover {
  background-color: #65d080;
  border-color: #56a169;
>>>>>>> cfb2c5e13338d0ba9a1154e80d15cc22f192ec6f
}

.main-section {
  padding: 0;
  margin: 0 auto;
  margin-top: 25%;
}

.text-img {
  font-size: 14px;
  color: #ffffff;
}

.modal-content {
  opacity: 90%;
  padding: 0 0;
  border-radius: 10px;
  background-color: #458d73;
  box-shadow: 0px 0px 3px #ffffff;
}

.logo-img {
  margin-bottom: 20px;
}

.logo-img img {
  height: 5rem;
}

.form-box {
  padding: 3rem;
  padding-bottom: 1rem;
  height: 25rem;
  width: 25rem;
}

.form-group input {
  border: 0;
  height: 38px;
  width: 19rem;
  font-size: 18px;
  border-radius: 5px;
}

button {
  width: 60%;
  margin: 5px 0 25px;
}

.login {
  color: white;
  text-decoration: none !important;
}

.forgot {
  padding: 5px 0;
}

.forgot a {
  color: white;
}

<<<<<<< HEAD
=======
/* Sidebar */

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.list-group-item {
  width: 15em;
}

#sidebar-wrapper {
  min-height: 100vh;
}

#page-content-wrapper {
  width: 100%;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}
.lh-tight {
  line-height: 1.25;
}
>>>>>>> cfb2c5e13338d0ba9a1154e80d15cc22f192ec6f
